body{
	text-align: center;
	margin: 10% 0px;
	background-size: cover;
	background-image: url("../img/biblioteca-digital.jpg");
	font-size: 1em;
	font: 20px MiFuente, sans-serif;
}
.login{
	text-align: center;
}
.login td{
	padding:2px;
}
@font-face{
	font-family: 'MiFuente';
	src: url('../fuente/ZillaSlab-Regular.otf');
}
#inises{
	margin: 0px 20%;
	width: 60%;
	padding-top: 1px;
	padding-bottom: 10px;
	border-radius:15px;
	background-color:  rgb(233, 235, 238);
}
#input{
	border-radius:15px; 
	padding: 5px 8px;
}
#boton{
	width: 200px;
	height: 40px;
	font-size: 15pt;
	background: #3773da;
	color: white;